@charset "UTF-8";

body {
    background-color: #708090;
	width: 210px;
	margin: 10px;
    height: 520px;
    padding: 10px;
    border: 10px groove green;
}

body p.output, p.notice{
	position: absolute;
    top: 500px;
    left: 30px;
	font-family:tahoma;
    font-size:14px;
	font-weight: bold;
}

body p.notice{
    top: 520px;
}

nav {
    width:110px;
    margin:10px;
}

nav ul {
    /* Removes bullet points */
    list-style:none;
    margin:0;
    padding:0;
}

nav ul li {
    /* Any child positioned absolutely will be positioned relative to this */
	background-color: #696969;
    position:relative;
	border-top:1px solid #e9e9e9;
	border-left:1px solid #e9e9e9;
}

nav *{
    color:#e8e8e8;
    padding:8px 0px;
    /* Fill all available horizontal space */
    display:block;
    /* Remove underline */
    text-decoration:none;
    /* 
    New CSS3 animations:
    apply transition to background property, taking 1s to change it 
    */
    transition:background 1s;
    -moz-transition:background 1s;
    -webkit-transition:background 1s;
    -o-transition:background 1s;
    font-family:tahoma;
    font-size:11px;
    text-transform:uppercase;
    padding-left:5px;
}

nav *:hover {
    /* 
    RGBA background for transparancy: 
    last number(0.05) is the transparency 
    */
    background: #808080;
    color:#fff;
}

nav ul li:hover ul {
    /* When list item is hovered, display UL nested within. */
    display:block;
}

nav ul ul {
    /* Remove element from document flow */
    position:absolute;
    /* Position relative to its parent &lt;li&gt; */
    left:109px;
    top:-1px;
	-moz-column-count:3;
    -webkit-column-count:3;
    column-count:3;
	-webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 0px;
    max-height: 20px;
    display:none;
}

nav ul ul li {
    width:27px;
    background:#696969;
    border-top:1px solid #e9e9e9;
	border-left:1px solid #e9e9e9;
}