@charset "UTF-8";

body {
    background-color: #226f44;
	width: 200px;
	margin: 10px;
    height: 520px;
    padding: 10px;
}

body p.output, p.notice{
	position: absolute;
    top: 480px;
    left: 25px;
	font-family: Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 20px;
    color: #FFFFFF;
}

body p.notice{
    top: 500px;
}

.custom-dropdown {
    padding-top: 10px;
}

.custom-button {
    width: 150px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}