body {
    background-color: #b0c4de;
}

div {
    background-color: #ffb6c1;
    width: 200px;
    height: 400px;
    padding: 10px;
    border: 10px groove green;
    margin: 10px;
}

select {
    position: fixed;
    right: 40px;
}
